<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="../assets/musicicon.png" type="image/png">
    <title>Music Index</title>
</head>

<body>
    <h1>Welcome to the Music app!</h1>
    <p>An app for collecting your favorite music.</p>
    <a href="/music">Browse Music</a>
</body>

</html>